<span xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate">
    <span rel="v:rating">
        <span property="v:value">{{ rank.result }}</span> 
    </span>
    <span property="v:best">{{ rank.max }}</span> of 
    <span property="v:votes">{{ rank.count }} </span> 
    <span property="v:itemreviewed">{{ rank.name }}</span> 
</span>
